<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="hello" class="com.dianhu.bean.Hello"/>
    <bean id="world" class="com.dianhu.bean.World"/>
    <bean id="helloFactory" class="com.dianhu.bean.HelloFactoryBean"/>
    <bean class="com.dianhu.bean.LoggerBeanPostProcessor"/>
    <bean id="news" class="com.dianhu.bean.News" scope="prototype"/>
    <bean id="newsProvider" class="com.dianhu.bean.NewsProvider">
        <lookup-method name="getNews" bean="news"/>
    </bean>

    <bean id="helloAutoAspect" class="com.dianhu.aop.HelloAutoAspect"/>
    <bean id="helloAspect" class="com.dianhu.aop.HelloAspect"></bean>
    <aop:aspectj-autoproxy/>
    <aop:config>
        <aop:aspect ref="helloAspect">
            <aop:pointcut id="getContent" expression="execution(* com.dianhu.bean.Hello.getContent())" />
            <aop:pointcut id="setContent" expression="execution(* com.dianhu.bean.Hello.setContent(..))" />
            <aop:before pointcut-ref="getContent" method="beforeGetContent"/>
            <aop:after pointcut-ref="getContent" method="afterGetContent"/>
            <aop:around pointcut-ref="setContent" method="aroundSetContent"/>
        </aop:aspect>
    </aop:config>
</beans>